<!DOCTYPE html>
<html lang="en">
<head>
    <title>Filestorage</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ request.static_url('filestorage:static/app.css') }}"/>
    <script type="text/javascript" src="{{ request.static_url('filestorage:static/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('filestorage:static/app.js') }}"></script>
</head>
<body>
  <h1>Welcome!</h1>
  <p>
    This site enables users to upload files for temporary or permanent access.
    Since the POST method of the API is used to upload files, please enable javascript.
  </p>
  <p>
    Use this command to upload a file using curl:
    <pre>curl -X POST {{ request.route_url('files') }} -F "file=@/path/to/your/file"</pre>
    You will get a JSON response containing a bunch of checksums and a <b>key</b>.
    Take good care of it, as <b>the key it is your only way to delete the file later</b>! 
    In order to <b>delete</b> a file, use this curl command:
    <pre>curl -X DELETE {{ request.route_url('files') }}/<i>uuid</i>/<i>key</i></pre>
  </p>
  <div id="upload-form-block">
    <h3>Upload a file!</h3>
    <p>
      Use this form to upload a file!
      <input id="input-file" name="file" type="file" value="" /><br>
      <button id="upload-submit-button">Upload this file!"</button>
    </p>
  </div>
  <div id="upload-results-block">
    <h3>Upload results</h3>
    <p>
      Use this curl command to delete the file in the future:
      <pre>curl -X DELETE {{ request.route_url('files') }}/<span id="result-uuid"></span>/<span id="result-key"></span></pre>
      <h5>File attributes</h5>
      <div id="attributes"></div>
      <h5>JSON response</h5>
      <pre id="upload-raw-response"></pre><br>
      <button id="button-new-upload" type="button">Got it. Upload another file!</button>
    </p>
  </div>
</body>
</html>
